# 廣韻的例外

In [1]:
import pandas
import sqlite3

In [2]:
conn = sqlite3.connect('../data.sqlite3')

## 沒有反切的小韻

In [3]:
pandas.read_sql_query('''SELECT small_rhyme_descr, upper_char, lower_char,
GROUP_CONCAT(name, '') AS 'names'
FROM full_guangyun
WHERE upper_char is null
OR lower_char is null
GROUP BY rhyme, tone, subgroup, rhyme_group, class,
small_rhyme_id, small_rhyme, initial, rounding, division, upper_char, lower_char;''', conn)

  small_rhyme_descr upper_char lower_char  names
0             章開三拯上       None       None  拯抍撜𨋬氶
1             影開二鑑去       None       None      𪒠

## 同一個小韻中存在兩個一樣的字

In [4]:
pandas.read_sql_query('''SELECT name, small_rhyme_descr, fanqie,
GROUP_CONCAT(num_in_small_rhyme) AS 'nums_in_small_rhyme'
FROM full_guangyun
GROUP BY small_rhyme_id, name
HAVING COUNT(*) > 1;''', conn)

  name small_rhyme_descr fanqie nums_in_small_rhyme
0    䱱             定開四齊平    杜奚切               29,38
1    縝             章開三軫上    章忍切                2,11
2    駛             生開三志去    踈吏切                 1,2

## (韻, 開合, 等, 聲母) 四元組不能確定一個小韻

In [5]:
pandas.read_sql_query('''SELECT *
FROM
(SELECT rhyme, rounding, division,
initial, small_rhyme_id, GROUP_CONCAT(name, '') AS 'names'
FROM full_guangyun
GROUP BY rhyme, rounding, division,
initial, small_rhyme_id) AS A
JOIN
(SELECT rhyme, rounding, division,
initial, small_rhyme_id, GROUP_CONCAT(name, '') AS 'names'
FROM full_guangyun
GROUP BY rhyme, rounding, division,
initial, small_rhyme_id) AS B
USING (rhyme, rounding, division, initial)
WHERE A.small_rhyme_id < B.small_rhyme_id;''', conn)

,rhyme,rounding,division,initial,small_rhyme_id,names,small_rhyme_id,names
0,支,開,3,精,114,貲頿鴜𪕊鮆訾鄑㠿媊𨚖㰣鈭姕𦺱䖪觜,133,厜觜纗惢嫢㭰
1,支,合,3,精,135,劑㭰𦸺臇𤎱㷷,138,䮔
2,之,開,3,書,193,詩邿齝𪗪呞䀢,210,䀵
3,之,開,3,溪,195,欺娸䫥䫏𠐾魌僛𪅾𪀩䶞抾,209,抾
4,刪,開,2,溪,551,馯,552,豻鬜
5,麻,開,2,溪,798,䶗㤉𡤫,804,𣘟
6,耕,開,2,幫,892,浜捠,902,繃絣𢆸拼䑫
7,尤,開,3,溪,996,恘惆㲃,1002,丘丠蓲蚯邱訄
8,談,開,1,從,1094,慙慚鏨䳻㨻,1097,𩈻
9,腫,開,3,章,1171,腫種踵歱㣫喠,1191,𢃭𢃓
10,旨,開,3,章,1251,旨指恉祁䛗厎砥茋,1281,𧿲
11,海,開,1,滂,1452,啡,1458,俖朏
12,海,開,1,以,1460,佁,1464,䑂𦚪
13,準,合,3,日,1487,蝡,1492,𣯍
14,阮,開,3,疑,1521,𧥜巘𪗛屵,2609,𤬝鬳
15,旱,開,1,透,1552,坦䦔,2635,炭歎嘆湠𣁗㛶
16,小,開,3,章,1678,沼菬䈃,2769,照炤詔𨹸𠧙
17,馬,開,2,知,1789,觰,1792,䋾
18,養,開,3,初,1807,磢㼽𠞮搶漺愴,1831,䫪傸
19,養,合,3,見,1816,獷,1829,臩迋𠏤逛
20,有,開,3,滂,1950,㤱紑𩂆,1954,秠
21,豏,開,2,曉,2073,闞欦,2076,喊
22,至A,合,3,曉,2234,䁤婎睢,2245,侐
23,廢,合,3,曉,2421,䂕,2548,喙𤸁𣨶𧾣餯顪
24,泰,合,1,清,2444,襊𨅎𥨒,2452,𦦣
25,卦,開,2,幫,2462,庍,2470,㠔
26,隊,合,1,匣,2520,潰迴繢嬇殨闠䔇螝詯膭僓䜋䛛,2527,蚚
27,願,合,3,滂,2601,嬔㽹𨠒𡗹𣀔㤆婏𡚪㪻汳,2607,𣀔
28,過,合,1,清,2843,剉莝銼,2849,諎𢯽
29,過,合,1,清,2843,剉莝銼,2855,磋
30,過,合,1,清,2849,諎𢯽,2855,磋
31,㮇,開,4,見,3148,趝,3152,兼䱤
32,釅,開,3,溪,3157,㪁𤬯,3181,欠㐸
33,質,開,3,知,3300,窒挃庢銍秷𦤻㲳㗧𪗻𨖹螲𥎹,3321,蛭
34,櫛,開,3,崇,3312,𪗨,3339,𪗨
35,術,合,3,知,3318,茁,3331,㤕窋絀䂐㑁逫𡢑泏
36,沒,合,1,透,3373,𣅝,3377,宊棁𠫓𡿮㥆䠈
37,薛,合,3,昌,3513,歠啜,3534,啜
38,職,開,3,知,3698,陟稙,3722,𡮞𣮊𢕚
39,合,開,1,影,3787,姶𤸱罨罯媕㔩庵𨂁𩋊𩇠搕鞥佮,3792,唈
40,盍,開,1,見,3803,䫦𧪞嗑蓋閘鉀䗘𨜴,3807,砝𪁍
41,怗,開,4,心,3836,燮屧屟躞韘𤫉𤏻鞢徢𦔼𤗈蜨𧕊䕈𡞘𦩌,3842,䢡

## 有相同反切的小韻

In [6]:
pandas.read_sql_query('''SELECT upper_char || lower_char AS 'fanqie',
GROUP_CONCAT(id || small_rhyme) AS 'small_rhymes'
FROM full_small_rhymes
WHERE upper_char IS NOT NULL
GROUP BY upper_char, lower_char
HAVING COUNT(*) > 1;''', conn)

  fanqie small_rhymes
0     丘弭  1241跬,1248企
1     之少  1678沼,2769照
2     古伯  3618格,3621虢
3     古賣  2453卦,2491夬
4     士免  1653撰,1663棧
5     居乙  3320曁,3352訖
6     烏浪  2928盎,2945汪
7     芳万  2601嬔,2607𣀔
8     苦蓋  2446磕,2534慨

## 未收錄的反切上字

In [7]:
pandas.read_sql_query('''SELECT upper_char, small_rhyme_id, small_rhyme_descr, fanqie
FROM full_guangyun
WHERE upper_char NOT IN
(SELECT name FROM full_char_entities)
GROUP BY upper_char;''', conn)

  upper_char  small_rhyme_id small_rhyme_descr fanqie
0          呂              76             來開二江平    呂江切
1          奇            2165            羣開三寘B去    奇寄切
2          妳             332             孃開二佳平    妳佳切
3          姉            3529             精開三薛入    姉列切
4          姊             133             精開三支平    姊移切
5          查            3464             崇開二黠入    查鎋切
6          犲            2507             崇開二夬去    犲夬切
7          疏             146             生開三脂平    疏夷切
8          青            2059             清開四忝上    青忝切

## 未收錄的反切下字

In [8]:
pandas.read_sql_query('''SELECT lower_char, small_rhyme_id, small_rhyme_descr, fanqie
FROM full_guangyun
WHERE lower_char NOT IN
(SELECT name FROM full_char_entities)
GROUP BY lower_char;''', conn)

   lower_char  small_rhyme_id small_rhyme_descr fanqie
0           候            3064             溪開一候去    苦候切
1           劒            3158             明合三范去    亡劒切
2           卧            2837             見合一過去    古卧切
3           奇             107            溪開三支B平    去奇切
4           姊            1255             邪開三旨上    徐姊切
5           彦            2753             來開三線去    連彦切
6           樣            2896             日開三漾去    人樣切
7           狶            1313             溪開三尾上    袪狶切
8           笑            2771            影開三笑A去    於笑切
9           耗            2817             幫開一号去    博耗切
10          葅             236             生開三魚平    所葅切
11          衛            2392             知合三祭去    陟衛切
12          賓             421            滂開三眞A平    匹賓切
13          賺            3167             孃開二陷去    尼賺切
14          閏            2574             章合三稕去    之閏切
15          顔             547             見開二刪平    古顔切
16          魂             500             滂合一魂平    普魂切

## 長度大於 1 的字

In [9]:
pandas.read_sql_query('''SELECT small_rhyme_descr, num_in_small_rhyme, name, explanation
FROM full_guangyun
WHERE LENGTH(name) > 1;''', conn)

  small_rhyme_descr  num_in_small_rhyme   name explanation
0             從開四先平                   6    ⿱𥫗瀸          上同
1             章開三靜上                   2  ⿱⿰来攵正           俗
2             溪開二覺入                  15    ⿰隺犬        至也髙也
3             清開三質入                   7   ⌸艹大雨           俗
4             孃開三葉入                   4    ⿱入疌       織⿱入?疌

In [10]:
conn.close()