# 廣韻的例外

[返回 GitHub 頁面](https://github.com/sgalal/Guangyun)

In [1]:
import pandas
import sqlite3

In [2]:
conn = sqlite3.connect('../data.sqlite3')

## 沒有反切的小韻

In [3]:
pandas.read_sql_query('''SELECT small_rhyme_descr, upper_char, lower_char,
GROUP_CONCAT(name, '') AS 'names'
FROM full_guangyun
WHERE upper_char is null
OR lower_char is null
GROUP BY rhyme, tone, subgroup, rhyme_group, class,
small_rhyme_id, small_rhyme, initial, rounding, division, upper_char, lower_char;''', conn)

  small_rhyme_descr upper_char lower_char  names
0              章開三拯       None       None  拯抍撜𨋬氶
1              影開二鑑       None       None      𪒠

## 同一個小韻中存在兩個一樣的字

In [4]:
pandas.read_sql_query('''SELECT name, small_rhyme_descr, fanqie,
GROUP_CONCAT(num_in_small_rhyme) AS 'nums_in_small_rhyme'
FROM full_guangyun
GROUP BY small_rhyme_id, name
HAVING COUNT(*) > 1;''', conn)

  name small_rhyme_descr fanqie nums_in_small_rhyme
0    䱱              定開四齊    杜奚切               29,38
1    縝              章開三軫    章忍切                2,11
2    駛              生開三志    踈吏切                 1,2

## (韻, 開合, 等, 聲母) 四元組不能確定一個小韻

In [5]:
pandas.read_sql_query('''SELECT small_rhyme_descr, GROUP_CONCAT(small_rhyme_id || names) AS 'small_rhymes'
FROM (SELECT small_rhyme_descr, small_rhyme_id, GROUP_CONCAT(name, '') AS 'names'
FROM full_guangyun
GROUP BY small_rhyme_descr, small_rhyme_id)
GROUP BY small_rhyme_descr
HAVING COUNT(*) > 1
ORDER BY small_rhyme_id;''', conn)

   small_rhyme_descr                   small_rhymes
0               精開三支  114貲頿鴜𪕊鮆訾鄑㠿媊𨚖㰣鈭姕𦺱䖪觜,133厜觜纗惢嫢㭰
1               精合三支                 135劑㭰𦸺臇𤎱㷷,138䮔
2               書開三之                 193詩邿齝𪗪呞䀢,210䀵
3               溪開三之            195欺娸䫥䫏𠐾魌僛𪅾𪀩䶞抾,209抾
4               溪開二刪                     551馯,552豻鬜
5               溪開二麻                    798䶗㤉𡤫,804𣘟
6               幫開二耕                 892浜捠,902繃絣𢆸拼䑫
7               溪開三尤              996恘惆㲃,1002丘丠蓲蚯邱訄
8               從開一談                1094慙慚鏨䳻㨻,1097𩈻
9               章開三腫              1171腫種踵歱㣫喠,1191𢃭𢃓
10              章開三旨             1251旨指恉祁䛗厎砥茋,1281𧿲
11              滂開一海                   1452啡,1458俖朏
12              以開一海                   1460佁,1464䑂𦚪
13              日合三準                    1487蝡,1492𣯍
14              疑開三阮                1521𧥜巘𪗛屵,2609𤬝鬳
15              透開一旱              1552坦䦔,2635炭歎嘆湠𣁗㛶
16              章開三小              1678沼菬䈃,2769照炤詔𨹸𠧙
17              知開二馬                    1789觰,1792䋾
18              初開三養              1807磢㼽𠞮搶漺愴,1831䫪傸
19              見合三養                 1816獷,1829臩迋𠏤逛
20              滂開三有                  1950㤱紑𩂆,1954秠
21              曉開二豏                   2073闞欦,2076喊
22             曉合三至A                  2234䁤婎睢,2245侐
23              曉合三廢               2421䂕,2548喙𤸁𣨶𧾣餯顪
24              清合一泰                  2444襊𨅎𥨒,2452𦦣
25              幫開二卦                    2462庍,2470㠔
26              匣合一隊        2520潰迴繢嬇殨闠䔇螝詯膭僓䜋䛛,2527蚚
27              滂合三願           2601嬔㽹𨠒𡗹𣀔㤆婏𡚪㪻汳,2607𣀔
28              清合一過           2843剉莝銼,2849諎𢯽,2855磋
29              見開四㮇                   3148趝,3152兼䱤
30              溪開三釅                  3157㪁𤬯,3181欠㐸
31              知開三質         3300窒挃庢銍秷𦤻㲳㗧𪗻𨖹螲𥎹,3321蛭
32              崇開三櫛                    3312𪗨,3339𪗨
33              知合三術             3318茁,3331㤕窋絀䂐㑁逫𡢑泏
34              透合一沒               3373𣅝,3377宊棁𠫓𡿮㥆䠈
35              昌合三薛                   3513歠啜,3534啜
36              知開三職                 3698陟稙,3722𡮞𣮊𢕚
37              影開一合        3787姶𤸱罨罯媕㔩庵𨂁𩋊𩇠搕鞥佮,3792唈
38              見開一盍            3803䫦𧪞嗑蓋閘鉀䗘𨜴,3807砝𪁍
39              心開四怗     3836燮屧屟躞韘𤫉𤏻鞢徢𦔼𤗈蜨𧕊䕈𡞘𦩌,3842䢡

BYVoid[《廣韻中的重紐與重紐歸類問題》](https://www.byvoid.com/blog/kuangx-yonh-dryung-nriux)

> 除了上述的重紐現象外，廣韻中還有一些「後增字」。如《廣韻》中有小韻「辟」必益切，又有小韻「碧」彼役切。根據系聯兩個小韻的聲韻地位完全相同，理應歸類爲一個小韻纔對。這種情況不同於重紐，因爲在《刊謬補缺切韻》中，沒有「碧」這個字，而在《唐韻》殘卷中，有「碧色也說文石文美者方彳反一加」，可見「碧」這個字是 **後世新加入的**。由於「碧」所用反切和「辟」不同，《廣韻》編輯者就把「碧」放在了相同韻目的最後，這樣就重出了一個小韻。這種現象的特點是，重複的小韻在前世韻書中沒有出現，且一般只附在《廣韻》一個韻目的最後，零星而不成系統。

## 有相同反切的小韻

In [6]:
pandas.read_sql_query('''SELECT upper_char || lower_char AS 'fanqie',
GROUP_CONCAT(id || small_rhyme) AS 'small_rhymes'
FROM full_small_rhymes
WHERE upper_char IS NOT NULL
GROUP BY upper_char, lower_char
HAVING COUNT(*) > 1;''', conn)

  fanqie small_rhymes
0     丘弭  1241跬,1248企
1     之少  1678沼,2769照
2     古伯  3618格,3621虢
3     古賣  2453卦,2491夬
4     士免  1653撰,1663棧
5     居乙  3320曁,3352訖
6     烏浪  2928盎,2945汪
7     芳万  2601嬔,2607𣀔
8     苦蓋  2446磕,2534慨

## 未收錄的反切上字

In [7]:
pandas.read_sql_query('''SELECT upper_char, small_rhyme_id, small_rhyme_descr, fanqie
FROM full_guangyun
WHERE upper_char NOT IN
(SELECT name FROM full_char_entities)
GROUP BY upper_char;''', conn)

  upper_char  small_rhyme_id small_rhyme_descr fanqie
0          呂              76              來開二江    呂江切
1          奇            2165             羣開三寘B    奇寄切
2          妳             332              孃開二佳    妳佳切
3          姉            3529              精開三薛    姉列切
4          姊             133              精開三支    姊移切
5          查            3464              崇開二黠    查鎋切
6          犲            2507              崇開二夬    犲夬切
7          疏             146              生開三脂    疏夷切
8          青            2059              清開四忝    青忝切

## 未收錄的反切下字

In [8]:
pandas.read_sql_query('''SELECT lower_char, small_rhyme_id, small_rhyme_descr, fanqie
FROM full_guangyun
WHERE lower_char NOT IN
(SELECT name FROM full_char_entities)
GROUP BY lower_char;''', conn)

   lower_char  small_rhyme_id small_rhyme_descr fanqie
0           候            3064              溪開一候    苦候切
1           劒            3158              明合三范    亡劒切
2           卧            2837              見合一過    古卧切
3           奇             107             溪開三支B    去奇切
4           姊            1255              邪開三旨    徐姊切
5           彦            2753              來開三線    連彦切
6           樣            2896              日開三漾    人樣切
7           狶            1313              溪開三尾    袪狶切
8           笑            2771             影開三笑A    於笑切
9           耗            2817              幫開一号    博耗切
10          葅             236              生開三魚    所葅切
11          衛            2392              知合三祭    陟衛切
12          賓             421             滂開三眞A    匹賓切
13          賺            3167              孃開二陷    尼賺切
14          閏            2574              章合三稕    之閏切
15          顔             547              見開二刪    古顔切
16          魂             500              滂合一魂    普魂切

## 長度大於 1 的字

In [9]:
pandas.read_sql_query('''SELECT small_rhyme_descr, num_in_small_rhyme, name, explanation
FROM full_guangyun
WHERE LENGTH(name) > 1;''', conn)

  small_rhyme_descr  num_in_small_rhyme   name explanation
0              從開四先                   6    ⿱𥫗瀸          上同
1              章開三靜                   2  ⿱⿰来攵正           俗
2              溪開二覺                  15    ⿰隺犬        至也髙也
3              清開三質                   7   ⌸艹大雨           俗
4              孃開三葉                   4    ⿱入疌       織⿱入?疌

In [10]:
conn.close()